body, h1, h2, p {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f5f5f5;
  }
  
  header {
    background-color: #67829f;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  nav {
    text-align: center;
 }

    nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 20px;
 }

    nav ul li {
    display: inline-block;
    margin-right: 20px;
 }

    nav ul li a{
    color:#f5f5f5;
 }

  h1 {
    font-size: 36px;
  }
  
  h3{
    text-align: center;
  }

  .estilar{
    text-align: center;
    border: solid 2px;
  }

  #container {
    display: flex !important;
    justify-content: center;

  }
  

  .sucursal {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .sucursal h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .sucursal p {
    font-size: 16px;
    color: #333;
  }
  
  .sucursal img {
    display: block;
    max-width: 50%;
    margin-top: 10px;
    border-radius: 4px;
  }
  


    #formulario {
    margin: 100px;
    padding: 20px;
    border: 1px solid #ccc;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    }

    select, input {
    margin: 5px;
    padding: 0px;
    width: 100%;
}

  /* Definición de colores para las clases de mensaje */
.mensaje-usd {
  color: blue;
}

.mensaje-brl {
  color: green;
}

.mensaje-uyu {
  color: red;
}


.rojo{
  background-color: rgb(187, 148, 148);
}

.verde{
  background-color: rgb(124, 174, 124);
}

  footer {
    background-color: #67829f;
    color: #fff;
    text-align: center;
    padding: 10px;
  }